* {
    margin: 0;
    padding: 0;
    background-color:#1C1C1C ;
    }
   
   /*Barra do menu */
    .menu {
    width: 100%;
    height: 50px;
    background-color: #222;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
   
   /*Estilizando as listas */
    .menu ul {
    list-style: none;
    position: relative;
    }
   
   .menu ul li {
    width: 150px;
    float: left;
    }
   
   .menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
    }
   
   /*Criando o label */
    label[for=”bt_menu”]{
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    }
   
        /* Ao passar o moouse no menu: trânsparencia*/
        .menu a:hover {
            background-color: #f4f4f4;
            color: #555;
            }

        .sair {
            position: right;
            width: 100%;
            height: 10px;
            margin-top: 10px;
            Font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubun
        }


        /* Botões de novo pedido e cliente */
        .novo {
            position: right;
            width: 100%;
            height: 10px;
            margin-top: 10px;
            Font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            
        }

        
        
        .novo ul {
            list-style: none;
            position: relative;
            }
           
           .novo ul li {
            width: 150px;
            float: right;
            
        }
         
            /*Dimensões do botão */
            .novo a {
                padding: 15px;
                display: inline-block;
                text-decoration: none;
                text-align: center;
                background-color: #222;
                color: #fff;
                border-radius: 10px;
                }
    

            .novo :hover {
                background-color: #f4f4f4;
                color: #555;
              }

            
            


   #bt_menu {
    display: none;
    }
   

   
   /*Deixando o Menu Responsivo */
   @media(max-width: 800px) 
{
   label[for=”bt_menu”] {
    display: block;
    }
     
   #bt_menu:checked ~ .menu{
    margin-left: 0;


    }


   .menu{
    margin-top: 5px;
    margin-left: -100%;
    transition: all .4s;
    }
     
   .menu ul li {
    width: 100%;
    float: none;
    }
     

     
   .menu ul li:hover ul {
    height: auto;
    max-height: 200px;
    }

    .novo{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
        }
         

         
     



}


