body {
 background:  #FFFFFF ; 
}


  .header-2 {
    background-color: grey;
    width: auto;
    height: auto;
    padding: 10px;


  }

.menu-principal {

background-color: black;
background-size: absolute;
height: 100px; //.altura
margin: auto;
}


main {
    margin: auto; 
    width: 1885px;
    position : absolute;
}

.logo {
    float: left;
    padding: 16px;  /*preenchimento*/
    
        }

.redes-sociais ul li {
    display:inline-block; 
    float: right; /*https://www.devmedia.com.br/dicas-para-trabalhar-com-a-propriedade-float-do-css/28365*/
    list-style: none;
    margin-left: 5px;
    border-top-width:5px;
   
}

.redes-sociais{
    width: 25%;
    float: right;
}

